@media only screen and (max-width: 699.9px) { 
	
	#about-pic {
		display: none;
	}

	#summary {
		margin-top: 0;
	}

	#summary-text{
		margin-top: 0;
	}

	#summary-text p {
		font-size: 13px;
	}
}

#about-pic {
	background-color: #000;
	background-image: url('/img/nyc.jpg');
	background-size: cover;
	background-position: 50%;
	height: 100%;
	max-height: 100%;
	width: 100%;
	color: #fff;
}

#arrow {
	display: none;
	position: absolute;
	margin-top: 70vh; 
	margin-bottom: 0px; 
	height: 35px; 
	width: 35px
}

#mypic-sidebar {
	background-image: url('/img/profile.jpg');
	background-size: cover;
	background-position: 50%;
	height: 100%;
	max-height: 100%;
	max-width: 40%;
	margin: 0px;
	padding: 0px;
}

#summary-text {
	text-align: center;
	margin-top: 15%;
	margin-left: 25px;
	margin-right: 25px;
}

.top-bar {
	background: none;
}

#about-pic nav ul li {
	background: none;
}

#about-pic nav ul li a {
	background: none;
}

#profile-icons img {
	max-height: 40px;
	max-width: 40px;
}