<html>
<head>
	<title> Siyan Beverly's Blog </title>

	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" href="/css/application.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/js/foundation/foundation.js"></script>

</head>
<body>
	<nav class="top-bar">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="{{ site.path }}">Siyan<strong>Beverly</strong></a></h1>
	    </li>
	  </ul>

	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
	    <ul class="right">
	      <li class="has-dropdown not-click">
	      	<a href="#">Social</a>
	      	<ul class="dropdown">
	      		<li><a href="https://github.com/sbeverly">Github</a></li>
	      		<li><a href="http://lnkd.in/purq4h">LinkedIn</a> </li>
	      		<li><a href="https://twitter.com/sxanatos">Twitter</a></li>
	      	</ul>
	      </li>
	      <li><a href="#">Contact</a></li>
	    </ul>

	    <ul class="left">
	    	<li><a href="#">About Me</a></li>
	    </ul>
	  </section>
	</nav>

	{{ content }}

</body>
</html>