---
layout: default
---

<div class="row" style="padding-top: 70; padding-bottom: 50px">
	<span class="post-title small-6 columns">{{ page.title }}</span><span style="float:right;">{{ page.date | date_to_string}}</span><hr>
	<div class="small-9 small-centered columns">{{ content }}</div>
</div>


<div class="row" style="padding-bottom: 200px;">
	<div class="small-9 small-centered columns post-navs">
		<a href= "/" class='grow'> Back to Posts </a>
		<div style="float: right;">
			
			{% unless page.previous == nil %}
				<a href="{{ page.previous.url }}" class='grow'> Older </a>
			{%endunless%}
			
			{% unless page.next == nil or page.previous == nil %}
			<span> &nbsp | &nbsp</span>
			{%endunless%}
			
			{% unless page.next == nil %}
				<a href="{{ page.next.url }}" class='grow'> Newer </a> 
			{%endunless%}
		</div>
	</div>
</div>